{% extends "base.html" %}
{% block content %}

<html lang="en">
	<head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<meta charset="utf-8">
		<title>Journey Map</title>
		<link rel="stylesheet" href= "{{url_for('static',filename="css/styles.css") }}" type="text/css">
	</head>

	<body>
            <H1> Hello {{uname}} </H1>
	  <script src="{{url_for('static', filename="js/script.js")}}"></script>
		<div>
			<canvas id="map_canvas"></canvas>
		</div>


		<button id="showmenu"> Menu </button>

		<div class= menu>
			<ul id="menu" style="list-style-type:none">
				<li> Name of Journey </li>
				<a href = "#"><li> Prepare </li> </a>
				<a href = "#"><li> Journey Recap</li> </a>
				<a href = {{url_for('reflection.reflection_route')}}><li> Reflect </li> </a>
				<a href = {{url_for('blog.blog_route')}}><li> Share </li> </a>
				<a href = {{url_for('reflection.feedback_route')}}><li> Feedback Form </li></a>
			</ul>
		</div>

		<script> $(".menu").toggle(); </script>

		<script>
			$("#showmenu").click(function(){
				$(".menu").toggle();
			});
		</script>


	</body>
</html>

{% endblock %}
