{% extends "base.html" %}
{% block content %}

<html lang="en">
	<head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

		<meta charset="utf-8">
		<title>Journey Map</title>
		<link rel="stylesheet" href= "../static/css/styles.css" type="text/css">
	</head>

	<body>
            <p> Hello {{uname}} </p>
	  <!--<script src="{{url_for('static', filename="js/script.js")}}"></script>-->
		<div>
			<canvas id="map_canvas"></canvas>
		</div>


		<button id="showmenu"> Menu </button>

		<div class= menu>
			<ul id="menu">
				<li> Name of Journey </li>
				<a href = "#"><li> Prepare </li> </a>
				<a href = "#"><li> Journey Recap</li> </a>
				<a href = {{url_for('reflection.reflection_route')}}><li> Reflect </li> </a>
				<a href = {{url_for('blog.blog_route')}}><li> Share </li> </a>
				<a href = {{url_for('reflection.feedback_route')}}><li> Feedback Form </li></a>
			</ul>
		</div>

		<script>
		var slidePushTime = 300; /* milliseconds */

		var openMenu = function(){
			$('.menu').animate({
				bottom: "0"
			}, slidePushTime);
			$('.menu').addClass("open");
			console.log('opening');
		}
		var closeMenu = function(){
			$('.menu').animate({
				bottom: "-100%"
			}, slidePushTime);
			$('.menu').removeClass("open");
			console.log('closing');
		}
		var toggleMenu = function() {
			$('.menu').hasClass("open") ? closeMenu() : openMenu()
		}

		$("#showmenu").click(function(){
			toggleMenu();
		});
		</script>


	</body>
</html>

{% endblock %}
