{% extends "base.html" %}
{% block content %}

<H1>Journey Recap </H1>


<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
       	<img src="https://www.facebook.com/embarcchicago/photos/a.210852345637938.51826.172249992831507/1329259017130593/?type=3&theater" style="width:100%">

    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
        <img src="https://www.facebook.com/embarcchicago/photos/a.210852345637938.51826.172249992831507/1329258900463938/?type=3&theater"style="width:100%">
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
        <img src="https://www.facebook.com/embarcchicago/photos/a.210852345637938.51826.172249992831507/1325250334198128/?type=3&theater" style="width:100%">
    </div>
  </div>
</div>

<H3>Description: </H3>
<p> Embarc Community Social's prupose is to connect our students to our growing community through team building and question based activities. Brining together our communities not only facilitates understanding but also investment in the well-being of others and responsibility towards each other. Students learn social skills and community members learn more about Embarc Student's lives. </p>
<br></br>
<H3>Did you know? </H3>
<p> Embarc has the hook up to careers and networks all over the city! Students who are most engaged often leave a community social with more than just a new friend. They leave with a business card and email address so that they can stay connected to professionals with great jobs. </p>
{% endblock %}