<!doctype html>

<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>My Profile</title>
		<link rel="stylesheet" href="{{url_for('static', filename="css/styles.css") }}" type="text/css">
	</head>

	<body>
	  <<!-- Add icon library -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

		<div class="card">
		  <h1>Name</h1>
		  <p class="title">Student</p>
		  <p>School</p>
		  <a href="#"><i class="fa fa-dribbble"></i></a> 
		  <a href="#"><i class="fa fa-twitter"></i></a> 
		  <a href="#"><i class="fa fa-linkedin"></i></a> 
		  <a href="#"><i class="fa fa-facebook"></i></a> 
		</div>
	</body>
</html>


