{% extends "base.html" %}
{% block content %}
<head>
  <title>Reflection</title>
</head>
  <link rel = "stylesheet" type = "text/css" href = "{{url_for('static', filename="css/reflection.css") }}"/>
<body>
  <h1> After Journey Attendance Journal </h1>
  <div class = prompt>
    <p> Reflect on the journey you just experienced by responding to the following prompts. </p>
    <p> <b>Paragraph 1:</b> Describe the journey from start to finish - use descriptive language and names of individuals
        you met. <br> Describe your experience with vivid detail so someone that did not attend could
        experience it through your writing. </p>
    <p> <b>Paragraph 2:</b> Describe what you learned or what may have surprised you during the journey.<br> Describe the
        deeper connection to what you learned or practiced and how you may apply it to your life </p>
  </div>

  Enter your response here:<br>





  <form action="{{url_for('reflection.reflection_route')}}" method="POST">
    <input type="text" name ="reflectionform">
    <br></br>
    <input type="radio" name="privacy" value="private"> Private<input type="radio" name="privacy" value="public"> Public<br>
    <input type="submit">

  </form>
</body>

{% endblock %}
